# SAP AI Core Configuration
VITE_SAP_AI_CORE_CLIENT_ID=sb-43be9474-2442-47c2-b5c7-484ff69b1a92!b237873|xsuaa_std!b77089
VITE_SAP_AI_CORE_CLIENT_SECRET=60a29a18-d8d0-4184-a72e-54f35be9d745$bJiRpDqJSYMDP4LjADXbutg5LxaAfkPXkA3JyzmAWYc=
VITE_SAP_AI_CORE_AUTH_URL=https://sww1lwr7x1mtf-7z.authentication.sap.hana.ondemand.com
VITE_SAP_AI_CORE_API_URL=https://api.ai.internalprod.eu-central-1.aws.ml.hana.ondemand.com
VITE_SAP_AI_CORE_RESOURCE_GROUP=default
